* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   padding: 10px; 
   width: 100%;
   display: flex;
   flex-direction: column;
}

.first-section {
background: rgba(61, 51, 192, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7px);
-webkit-backdrop-filter: blur(7px);
border: 1px solid rgba(61, 51, 192, 0.3);
width: 100%;
padding: 10px;
display: flex;
flex-direction: column;
gap: 10px;

}

.flex-center-space-between {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.flex {
    display: flex;
    gap: 10px;
    align-items: center;
}
.icon {
    color: black;
    font-size: 30px;
}